.root {
    -fx-background-image: url('https://64.media.tumblr.com/b003409673d60775c335729cffd0688d/200ed846fdcb1d52-b0/s540x810/7965121f79e8f7ec9b993f4ea0422e303665cec0.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
#list_craft{
    -fx-background-image: url('https://www.supersoluce.com/sites/default/files/node/20195/la-pioche-dans-minecraft.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;


}