.root {
    -fx-background-image: url('http://www.gifsanimes.fr/game-gifs/game-gifs/minecraft/minecraft-gifs-animes-9251180.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
#list_craft{
    -fx-background-image: url('https://www.supersoluce.com/sites/default/files/node/20195/la-pioche-dans-minecraft.gif');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;


}
#boutton_recherche{
    -fx-background-color: white;
}
#bwiki{
    -fx-background-color: white;
    -fx-background-image: url("bouton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}